h1 О ресторане

p.
	Теперь для встречи не нужно долго и мучительно искать повод, стоит просто прийти в наш ресторан и вы сами не заметите как с головой окунетесь в атмосферу хорошей музыки, стильной обстановки и вкусного меню.
p.
	Дизайн и атмосфера напоминают большой гостеприимный дом - роскошь гармонично сочетается с комфортом и уютом. Обставлен ресторан в стиле богемного лофта с уютными уголками для влюбленных, широкими столами для больших компаний. Вся мебель для нашего ресторана спроектирована на заказ именно под это пространство. Изюминка интерьера – поверхность пола плавно переходящая в стену. Стены выполнены из необработанного старого кирпича, в интерьере присутствуют деревянные и зеркальные поверхности, дубовые столы, кожаные и бархатные диваны, бра и абажуры. На летний период планируется открытие светлой веранды, где можно будет не только поужинать, но и насладиться живым концертом джазовой музыки.
p.
	От серьезных деловых встреч с партнерами до веселых и шумных посиделок в кругу друзей - в нашем ресторане собираются по разным поводам. Ресторан подойдет для переговоров, семейных ужинов, романтических свиданий, любых банкетов и даже свадеб.
p.
	Так же, наш ресторан отлично вписывается в концепцию дружеской вечеринки или корпоратива. Пятница и суббота - это самое лучшее время для веселья и безудержного отрыва. Наш ресторан приглашает гостей окунутся в атмосферу потрясающих вечеринок.