.catalogue-card-text
	.catalogue-card-text-header
		a(href="#")
			h3 Материалы
	.catalogue-card-text-main
		p.
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Amet, soluta.
		p. 
			Lorem ipsum dolor sit amet consectetur adipisicing elit. Vero laudantium tempora fugit expedita voluptatum. Vitae repudiandae impedit reprehenderit dolor deserunt.

	.catalogue-card-text-footer
		a(href="#") Открыть каталог