.catalogue-card
	.catalogue-card-header
		a(href="#")
			h3 Продукция
	.catalogue-card-main
		a(href="#")
			img(src="//placehold.it/288x144", alt="card img")

	.catalogue-card-footer
		.catalogue-card-footer-description
			p Типовая / Нетиповая / Художественная
		.catalogue-card-footer-btn
			button(type="button").btn.ghost-btn Каталог