.catalogue-card
	.catalogue-card-header
		a(href="#")
			h3 Продукция
	.catalogue-card-main
		a(href="#")
			.img-inner(style="background-image: url(http://via.placeholder.com/600x300)")

	.catalogue-card-footer
		.catalogue-card-footer-description
			p Типовая / Нетиповая / Художественная
		.catalogue-card-footer-btn
			button(type="button").btn.ghost-btn Каталог