h1 ХИНКАЛЬНАЯ "ИДЫ СЮДА"
address.contacts
	p.
		Адрес: Московская область,<br>г. Одинцово, ул. Говорова, д. 9А
	p
		a(href="tel:84952528533") Телефон: +7 (495) 252-85-33

	ul.social
		li
			a(href="#" target="_blank").fb
		li
			a(href="//vk.com/idisudaodi" target="_blank").vk
		li
			a(href="//www.instagram.com/idisuda_odi/" target="_blank").inst

	.yandex-map
		script(type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Ae1e82e39987d383514a35f7e174d3b6357b36dbac5b1b2e261a43ec67c6fe400&amp;width=100%&amp;height=400&amp;lang=en_US&amp;scroll=true")