.gallery
	h1 Галлерея
	ul#imageGallery
		h2 Ресторан
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")
		h2 Веранда
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")
		h2 Мероприятия
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")
		li
			a(data-fancybox="gallery" href="/img/gallery/id-gallery-3.jpg")
				img(src="/img/gallery/id-gallery-3.jpg", alt="glery item" title="Ресторан")