h1 Караоке

p.
	Ждём вас в нашем караоке зале. Для вас специально оборудованные помещения, удобные диваны, большой экран и отличная звуковая система. 
p.
	Зал работает со среды по субботу (по предварительному заказу в любое удобное время). Вход бесплатный. Вы платите только за свой заказ (в декабре по пятницам и субботам депозит на человека 2000 рублей). 
p.
	Также есть VIP-зал с караоке (12 персон), работает по предварительному бронированию в любое удобное для вас время.

img(src="/img/gallery/id-gallery-3.jpg", alt="караоке")