.cat-card
	.cat-card-item.cat-card-description
		header
			h3 Нержавеющая сталь
		
		.content
			p.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum minus voluptas tenetur quae molestiae maiores voluptate, temporibus sequi eos assumenda.
			p.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum minus voluptas tenetur quae molestiae maiores voluptate, temporibus sequi eos assumenda.
			p.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum minus voluptas tenetur quae molestiae maiores voluptate, temporibus sequi eos assumenda.

	.cat-card-item.cat-card-img
		.cat-card-img-large
			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/400)")

		.cat-card-img-small
			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/700)")

			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/700)")