.materials-card
	.materials-card-item
		header
			h3 Нержавеющая сталь

	.materials-card-item
		.materials-card-img
			img(src="//placehold.it/394x394", alt="equipment item img")
	.materials-card-item
		.materials-card-img2
			img(src="//placehold.it/394x394", alt="equipment item img")
			img(src="//placehold.it/394x394", alt="equipment item img")