nav.nav-mob
	.close-btn
	ul
		li
			a(href="#") Главная
		li
			a(href="#") Продукция
		li
			a(href="#") Услуги
		li
			a(href="#") Оборудование
		li
			a(href="#") Материалы
		li
			a(href="#") Цветовые решения
		li
			a(href="#") Объекты
		li
			a(href="#") Контакты