h1 Новости
.news-block
	h2 Открытие ресторана  в г. Балашиха
	img(src="../img/assets/news-thumbnail.jpg", alt="news-thumbnail")
	p.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, praesentium in alias quaerat harum! Delectus. <span class="exerpt">Читать полностью</span>

.news-block
	h2 Открытие ресторана  в г. Балашиха
	img(src="../img/assets/news-thumbnail.jpg", alt="news-thumbnail")
	p.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, praesentium in alias quaerat harum! Delectus. <span class="exerpt">Читать полностью</span>

.news-block
	h2 Открытие ресторана  в г. Балашиха
	img(src="../img/assets/news-thumbnail.jpg", alt="news-thumbnail")
	p.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, praesentium in alias quaerat harum! Delectus. <span class="exerpt">Читать полностью</span>

.news-block
	h2 Открытие ресторана  в г. Балашиха
	img(src="../img/assets/news-thumbnail.jpg", alt="news-thumbnail")
	p.
		Lorem ipsum dolor sit amet, consectetur adipisicing elit. Magni, praesentium in alias quaerat harum! Delectus. <span class="exerpt">Читать полностью</span>