.news-item
	.news-item-header
		h3 Запуск производства новых алюминиевых панелей
		.news-item-header-date 12.05.2018
	.news-item-main
		p.
			Наши продукты широко используются в строительстве, машиностроении, пищевой промышленности, рекламной сфере, сельском хозяйстве, атомной энергетике, нефтехимической промышленности и многих других направлениях.

	.news-item-footer
		a(href="#") Читать полностью