.options-card
	//- .option-card-header

	.options-card-main
		a(href="#")
			.img-inner(style="background-image: url(//fillmurray.com/600/300)")

	.options-card-footer
		.options-card-footer-header
			a(href="#")
				h3 Кассеты GM-1
		.options-card-footer-description
			p Скрытый способ крепления
		.options-card-footer-btn
			button(type="button").btn.ghost-btn Каталог