.cat-card
	.cat-card-item.cat-card-description
		header
			h3 Торговый центр "Новые Черемушки"
		
		.content
			p.
				Lorem ipsum dolor sit amet consectetur adipisicing elit. A velit quibusdam deleniti rem autem eligendi dolore molestias voluptatum tempore! Deleniti rem saepe voluptatibus beatae est eos explicabo dolores illum, nam a nemo accusamus maxime ut? Molestiae, obcaecati eum! Minima earum hic ex accusamus laboriosam officia eaque deserunt saepe molestias voluptate.
			p.
				Lorem ipsum, dolor sit amet consectetur adipisicing elit. Illum minus voluptas tenetur quae molestiae maiores voluptate, temporibus sequi eos assumenda.

	.cat-card-item.cat-card-img
		.cat-card-img-large
			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/400)")

		.cat-card-img-small
			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/700)")

			a(href="#")
				.img-inner(style="background-image: url(//fillmurray.com/400/700)")