.l-sidebar
	a(href="index.html")
		.logo
			img(src="../img/assets/logo.png", alt="Иды Сюда логотип")
	nav
		ul.main-nav
			li
				a(href="about.html").is-active О нас
			li
				a(href="menu.html") Меню
			li
				a(href="news.html") Новости
			li
				a(href="gallery.html") Галерея
			li
				a(href="karaoke.html") Караоке
			li
				a(href="contacts.html") Контакты

	address.sidebar-address
		p.
			Адрес: Московская область,<br>г. Одинцово, ул. Говорова, д. 9А
		p
			a(href="tel:84952528533") Телефон: +7 (495) 252-85-33

		ul.social
			li
				a(href="#" target="_blank").fb
			li
				a(href="//vk.com/idisudaodi" target="_blank").vk
			li
				a(href="//www.instagram.com/idisuda_odi/" target="_blank").inst