.type-card
	a(href="#")
		.type-card-img
			.img-inner(style="background-image: url(//fillmurray.com/400/700)")
		.type-card-description
			h3 Типовая
			p.
				Прямоугольные / Круглые / Прямоугольные / Овальные отверстия