.type-card
	a(href="#")
		.type-card-img
			img(src="//placehold.it/365x340", alt="type card img")
		.type-card-description
			h3 Типовая
			p.
				Прямоугольные / Круглые / Прямоугольные / Овальные отверстия