.type-single-card
	.type-single-card-text
		header
			h3 Квадратные отверстия
		.type-single-card-text-description
			ul
				li Круглая перфорация прямая
				li Круглая перфорация диагональная
				li Круглая перфорация в шахматном порядке

	.type-single-card-img
		img(src="//placehold.it/808x404", alt="card img")