#site-wrapper {
	width: 100%;
	height: 100%;
}

//content container
.container {
	@include container(0, 0);
}

//content container vertical padding
.container-padding {
	@include container;
}

#site-header {
	box-shadow: .5rem .5rem .5rem ac(lightgray);
}

//site header
//hotline-languages
//logo-nav
#site-header .hotline-languages {
	position: relative;
	background-color: ac(lightgray);
	text-align: center;
	line-height: 2;
}

#site-header .logo-nav {
	@include container;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
	& .logo {
		width: percentage(7/12);
	}
	& .nav {
		width: percentage(2/12);
	}
}

#site-main .catalogue {
	@include container;
	display: flex;
	flex-flow: row wrap;
	border-bottom: solid 1px ac(lightgray);
}

#site-main .about {
	@include container;
}

#site-main .news {
	@include container;
}

.news-items {
	display: flex;
	flex-flow: row wrap;
}