#site-wrapper {
	width: 100%;
	height: 100%;
}

//content container
.container {
	@include container(0, 0);
}

//content container vertical padding
.container-padding {
	@include container;
}

#site-header {
	// box-shadow: 0 .5rem .5rem ac(lightgray);
	border-bottom: solid 1px ac(lightgray);
}

//site header
#site-header .header-top {
	position: relative;
	background-color: ac(lightgray);
	text-align: center;
	line-height: 2;
}

#site-header .header-mid {
	@include container;
	display: flex;
	flex-flow: row nowrap;
	justify-content: space-between;
	align-items: center;
}


//site main
#site-main .catalogue {
	@include container;
	border-bottom: solid 1px ac(lightgray);
	&-items {
		display: flex;
		flex-flow: row wrap;
		justify-content: space-between;
	}
}

#site-main .about {
	@include container;
	border-bottom: solid 1px ac(lightgray);
}

#site-main .news {
	@include container;
	border-bottom: solid 1px ac(lightgray);
	& header {
		padding: 0 2rem;
	}
}


//site footer
#site-footer {
	box-shadow: 0 -.5rem .5rem ac(lightgray);
}