.hero-item(
		style='background-image: url("../img/hero-bg.jpg");'
	)
	.hero-item-content
		h1 Фасадные панели
		h3 Изготовление, установка
		button.btn Открыть каталог
		.hero-item-content-nav
			a(href="#").hero-nav-icon
				.hero-nav-icon-left
			a(href="#").hero-nav-icon
				.hero-nav-icon-right