header
	.header-top
		.logo
			a(href="index.html")
				//- logo
				img( src="./img/assets/brand/logo-b.png", srcset="./img/assets/brand/logo-b@2x.png", alt="Grossmetall")
		
		.nav
			.nav-open-btn
				span Навигация
					.nav-icon

			include nav-mob
			include nav-screen

		.phone-language
			a(href="tel:8-800-545-12-34") 8-800-545-12-34
			a(href="#") en

	.hero
		include hero-item