//@include normalize();

*, *+*, *::before, *::after {
	box-sizing: border-box;
}

html {
	width: 100%;
	height: 100%;
}

body {
	font-size: $global-font-size;
	font-family: $global-font-family;
	line-height: $global-line-height;
	background-color: $body-background;
	-webkit-font-smoothing: $font-smooth;
	background-color: cv(white);
	color: cv(white);
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
}

img {
	width: 100%;
	height: auto;
}

a {
	text-decoration: none;
	color: cv(primary);
	&:hover,
	&:active,
	&:focus {
		color: cv(primary, shade);
		text-decoration: underline;
	}
}

//Address
address {
	font-style: normal;
}

// Paragraphs
p {
	line-height: $paragraph-lineheight;
	margin-bottom: $paragraph-margin-bottom;
}

// Headings
h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $header-font-family;
	font-weight: $header-font-weight;
	color: $header-color;
	line-height: $header-lineheight;
}


//medium
h1 {font-size: 24px;}
h2 {font-size: 20px;}
h3 {font-size: 19px;}
h4 {font-size: 18px;}
h5 {font-size: 17px;}
h6 {font-size: 16px;}

//Bloquote
blockquote {
	background: #f9f9f9;
	border-left: 3px solid cv(primary);
	margin: 1.5em 10px;
	padding: 0.5em 10px;
	quotes: "\201C""\201D""\2018""\2019";
}

blockquote:before {
	color: cv(primary);
	content: open-quote;
	font-size: 3em;
	line-height: 0.1em;
	margin-right: 0.25em;
	vertical-align: -0.4em;
}

blockquote p {
	display: inline;
}
//end Bloquote

dd {
	margin: 0;
}


.item {
	display: inline-block;
	width: 100px;
	height: 100px;
}

$colorr: #fff;

.first {
	& .item:nth-child(1) {	
		background-color: cv(primary);
	}
	& .item:nth-child(2) {
		
		background-color: cv(secondary);
	}
	& .item:nth-child(3) {
		background-color: cv(third);
	}
}

.second {
	& .item:nth-child(1) {
		// background-color: saturate(mix(black, map-get($colors, primary), 40%), 15%);
		// background-color: cv(primary, shade, desat);
		// background-color: cv(primary, shade)
		background-color: red;
	}
	& .item:nth-child(2) {
		// background-color: cv(primary, tint);
		// background-color: mix(black, gc(primary), 20%);
		background-color: gc(green, tint);
	}
	& .item:nth-child(3) {
		background-color: gc(green, tint);
	}
}