include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.colors
				header
					h2 Цветовые решения
				
				include partials/colors-card
				include partials/colors-card
				include partials/colors-card
					
		section#site-footer
			include partials/site-footer