include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.contacts-page
				header
					h2 Контакты
				.contacts
					.contacts-item
						.contacts-item-left
							h3 Офис в Москве:
							address
								span Адрес: 
									a(href="https://yandex.ru/maps/-/CBurIDbfHA") 115035, г. Москва, Садовническая уд., д. 76/71, стр. 1, пом. I, ком. 7;9
								span Телефон: 
									a(href="tel:84957655256") +7 (495) 215-54-53
								span e-mail:
									a(href="mailto:info@grossmetall.ru") info@grossmetall.ru
						
							.social
								a(href="#")
									.soc-item.fb
								a(href="#")
									.soc-item.in

						.contacts-item-right
							.map
								#map
					
					.contacts-item
						.contacts-item-left
							h3 Производство:
							address
								span Адрес: 
									a(href="https://yandex.ru/maps/-/CBurIOS1XC") 143360, М.О., Наро-Фоминский район, г. Апрелевка, ул. Августовская, д.1
								span Телефон: 
									a(href="tel:84957655256") +7 (495) 215-54-53
								span e-mail:
									a(href="mailto:info@grossmetall.ru") info@grossmetall.ru
						
						.contacts-item-right
							.map
								#map2


		section#site-footer
			include partials/site-footer