doctype html
html
	include ./partials/head
	body
		.l-wrapper
			.slider-bg
				//- img(src="/img/gallery/id-gallery-4.jpg", alt="bg")
			.l-content-wrapper
				include ./partials/sidebar

				.info
					.info-content
						include ./partials/contacts

		script(src="js/main.min.js")
		script(src="https://cdnjs.cloudflare.com/ajax/libs/fancybox/3.1.20/jquery.fancybox.min.js")