include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.equipment
				header
					h2 Оборудование
				
				include partials/equipment-card
				include partials/equipment-card
				include partials/equipment-card
				include partials/equipment-card
					

		section#site-footer
			include partials/site-footer