<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title GrossMetall
		link(rel="stylesheet", href="./style/main.min.css")

	body
		#site-wrapper
			section#site-header.l-wrapper
				.l-content-wrapper
					.hotline-languages
						a(href="tel:8-800-545-12-34") 8-800-545-12-34
						a(href="#") en
					.nav
						nav.nav-mob
							.close-btn
							ul
								li
									a(href="#") Главная
								li
									a(href="#") Продукция
								li
									a(href="#") Услуги
								li
									a(href="#") Оборудование
								li
									a(href="#") Материалы
								li
									a(href="#") Цветовые решения
								li
									a(href="#") Объекты
								li
									a(href="#") Контакты

			section#site-main.l-wrapper
				.l-content-wrapper

			section#site-footer.l-wrapper
				.l-content-wrapper
