<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title GrossMetall
		link(rel="stylesheet", href="./style/main.min.css")

	body
		#site-wrapper
			section#site-header
				.hotline-languages
					.container
						a(href="tel:8-800-545-12-34") 8-800-545-12-34
						a(href="#") en
				
				.logo-nav
					//- logo
					img.logo( src="./img/assets/brand/logo-b.png", srcset="./img/assets/brand/logo-b@2x.png", alt="Grossmetall")
					.nav
						
						//- mobile navigarion full screen .nav-mob
						include partials/nav-mob
						.nav-open-btn

			section#site-main
				.catalogue
					include partials/catalogue-card
					include partials/catalogue-card

			section#site-footer
				
