<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title GrossMetall
		link(rel="stylesheet", href="./style/main.min.css")

	body
		#site-wrapper
			section#site-header
				.header-top
					.container
						a(href="tel:8-800-545-12-34") 8-800-545-12-34
						a(href="#") en
				
				.header-mid
					//- logo
					img.logo( src="./img/assets/brand/logo-b.png", srcset="./img/assets/brand/logo-b@2x.png", alt="Grossmetall")
					.nav
						//- mobile navigarion full screen .nav-mob
						include partials/nav-mob
						.nav-open-btn

			section#site-main
				//- hero с картинкой
				.hero
					.hero-img
						img(src="./img/hero.jpg", alt="hero img")
					.hero-text
						h2 Производсвто фасадных панелей. Перфорация. Обработка металла.
				//- категории
				.catalogue
					.catalogue-items
						include partials/catalogue-card
						include partials/catalogue-card
				
				//- категории второстепенные
				.catalogue
					.catalogue-items
						include partials/catalogue-card-text
						include partials/catalogue-card-text
						include partials/catalogue-card-text

				//- о компании
				.about
					header
						h2 О компании
					.about-items
						.about-item-text
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit. Voluptatem dignissimos eligendi odio modi, iste totam officiis aspernatur veniam debitis itaque reiciendis eveniet consectetur nesciunt quae possimus corporis tenetur voluptas hic cum?
							p.
								Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit.
						.about-item-img
							img(src="//placehold.it/712x440", alt="about img")

				.news
					header 
						h2 Новости
					.news-items
						include partials/news-item
						include partials/news-item
						include partials/news-item


			section#site-footer

				.footer-navigation
					.footer-navigation-item
						.footer-nav
							h4 Навигация
							ul
								li
									a(href="#") Главная
								li
									a(href="") Продукция
								li
									a(href="") Оборудование
								li
									a(href="") Цвет
								li
									a(href="") Материалы
								li
									a(href="") Контакты

					.footer-navigation-item
						h4 Контакты
							address
								a(href="#") Адрес: г. Москва, Тверская, 36
								a(href="#") Телефон: +7 (495) 765-52-56
								a(href="#") e-mail: info@grossmetall.ru
						
						.social
							.soc-item.fb
							.soc-item.in

				.copyright
					.copyright-inner Москва 2018