include partials/head
body
	include partials/site-header/nav-mob
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			//- .breadcrumbs
			//- 	p#breadcrumbs
			//- 		span
			//- 			span
			//- 				a(href="#") Главная
			//- 			span Главная

			//- категории
			.catalogue
				.catalogue-items
					include partials/catalogue-card
					include partials/catalogue-card
			
			//- категории второстепенные
			.catalogue
				.catalogue-items
					include partials/catalogue-card-text
					include partials/catalogue-card-text
					include partials/catalogue-card-text

			//- о компании
			.about
				header
					h2 О компании
				.about-items
					.about-item-text
						p.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit. Voluptatem dignissimos eligendi odio modi, iste totam officiis aspernatur veniam debitis itaque reiciendis eveniet consectetur nesciunt quae possimus corporis tenetur voluptas hic cum?
						p.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit.
					.about-item-img
						.img-inner(style="background-image: url(http://via.placeholder.com/700x400)")

			.news
				header
					a(href="news.html")
						h2 Новости
				.news-items
					include partials/news-item
					include partials/news-item
					include partials/news-item


		section#site-footer
			include partials/site-footer