<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title GrossMetall
		link(rel="stylesheet", href="./style/main.min.css")

	body
		#site-wrapper
			section#site-header
				.top
					nav.main-nav.mob
						.close-btn
						ul
							li
								a(href="#") Главная
							li
								a(href="#") Продукция
							li
								a(href="#") Услуги
							li
								a(href="#") Оборудование
							li
								a(href="#") Материалы
							li
								a(href="#") Цветовые решения
							li
								a(href="#") Объекты
							li
								a(href="#") Контакты

			section#site-main

			section#site-footer
