<!DOCTYPE html>
html(lang="en")
	head
		meta(charset="UTF-8")
		meta(name="viewport", content="width=device-width, initial-scale=1.0")
		meta(http-equiv="X-UA-Compatible", content="ie=edge")
		title GrossMetall
		link(rel="stylesheet", href="./style/main.min.css")

	body
		#site-wrapper
			section#site-header
				.hotline-languages
					.container
						a(href="tel:8-800-545-12-34") 8-800-545-12-34
						a(href="#") en
				
				.logo-nav
					//- logo
					img.logo( src="./img/assets/brand/logo-b.png", srcset="./img/assets/brand/logo-b@2x.png", alt="Grossmetall")
					.nav
						
						//- mobile navigarion full screen .nav-mob
						include partials/nav-mob
						.nav-open-btn

			section#site-main
				.catalogue
					include partials/catalogue-card
					include partials/catalogue-card

				.catalogue
					include partials/catalogue-card-text
					include partials/catalogue-card-text
					include partials/catalogue-card-text

				.about
					.about-text
						h3 О компании
						p.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit. Voluptatem dignissimos eligendi odio modi, iste totam officiis aspernatur veniam debitis itaque reiciendis eveniet consectetur nesciunt quae possimus corporis tenetur voluptas hic cum?
						p.
							Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident deserunt doloribus quam officiis nulla doloremque enim velit.
					.about-img
						img(src="//placehold.it/712x440", alt="about img")

			section#site-footer
				
				
