include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.materials
				header
					h2 Материалы
				
				include partials/materials-card
				include partials/materials-card
				include partials/materials-card
				include partials/materials-card
					

		section#site-footer
			include partials/site-footer