include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.news-page
				.cat-top-header
					header
						h2 Новости
						p.
							Lorem, ipsum dolor sit amet consectetur adipisicing elit. Dignissimos ipsa placeat quaerat molestias recusandae cum maiores animi corporis facilis quae in labore impedit soluta qui vero, tempore optio id doloremque. Optio ducimus recusandae delectus.
						a(href="news-single.html") news-single.html
						
				.news-page-items
					include partials/news-item
					include partials/news-item
					include partials/news-item
					include partials/news-item
					include partials/news-item
					include partials/news-item
					include partials/news-item
					include partials/news-item
					

		section#site-footer
			include partials/site-footer