include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.news-single
				header
					h2 WorldBuild Moscow/MosBuild - самая крупная в России выставка строительных и отделочных материалов.
					.date 12.05.2018

				.news-single-hero
					img(src="//placehold.it/1280x600", alt="image")
					
				article
					p.
						С 4 по 7 апреля 2017 года в ЦВК «Экспоцентр» с большим успехом прошла самая крупная в России международная выставка строительных и отделочных материалов MosBuild/WorldBuild Moscow 2017. 
					p.
						За четыре дня работы MosBuild/WorldBuild Moscow посетило 64490 человек практически из всех регионов России. Это на 2% больше, чем в прошлом году, таким образом 2017 год стал рекордным по числу посетителей. При этом значительно улучшился качественный состав посетителей: на 26% увеличилась доля представителей оптовой торговли, на 5% - розничной торговли строительными и отделочными материалами и на 9% - специалистов по  строительству и отделке помещений.

					bloquote  
						p.
							“Общая площадь экспозиции превысила 80 000 кв.метров. 1200 российских и иностранных производителей и поставщиков из 40 стран мира“

					p.
						С 4 по 7 апреля 2017 года в ЦВК «Экспоцентр» с большим успехом прошла самая крупная в России международная выставка строительных и отделочных материалов MosBuild/WorldBuild Moscow 2017. 
					p.
							За четыре дня работы MosBuild/WorldBuild Moscow посетило 64490 человек практически из всех регионов России. Это на 2% больше, чем в прошлом году, таким образом 2017 год стал рекордным по числу посетителей. При этом значительно улучшился качественный состав посетителей: на 26% увеличилась доля представителей оптовой торговли, на 5% - розничной торговли строительными и отделочными материалами и на 9% - специалистов по  строительству и отделке помещений.

					img(src="//placehold.it/714x424", alt="img inside")

					p.
						С 4 по 7 апреля 2017 года в ЦВК «Экспоцентр» с большим успехом прошла самая крупная в России международная выставка строительных и отделочных материалов MosBuild/WorldBuild Moscow 2017. 
					p.
						За четыре дня работы MosBuild/WorldBuild Moscow посетило 64490 человек практически из всех регионов России. Это на 2% больше, чем в прошлом году, таким образом 2017 год стал рекордным по числу посетителей. При этом значительно улучшился качественный состав посетителей: на 26% увеличилась доля представителей оптовой торговли, на 5% - розничной торговли строительными и отделочными материалами и на 9% - специалистов по  строительству и отделке помещени11й.


		section#site-footer
			include partials/site-footer