include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.materials
				header
					h2 Готовые объекты - портфолио
				
				include partials/portfolio-card
				include partials/portfolio-card
				include partials/portfolio-card
				include partials/portfolio-card
				include partials/portfolio-card
					

		section#site-footer
			include partials/site-footer