include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.search-page
				h2 Результаты поиска
				.search-result
					.search-result-item
						a(href="#")
							h3 Заголовок
							.post-img
								.img-inner(style="background-image: url(http://via.placeholder.com/300x150)")
							p.search-result-exerpt.
								Lorem ipsum dolor sit amet consectetur, adipisicing elit. Illum nisi quam doloremque? Iure voluptates excepturi veniam minus unde numquam nulla?

		section#site-footer
			include partials/site-footer