include partials/head
body
	#site-wrapper
		section#site-header
			include partials/site-header/site-header

		section#site-main
			.production
				header
					h2 Услуги
					a(href="services-sub.html") уровень ниже services-sub.html
					
				.production-card-wrapper
					include partials/catalogue-card
					include partials/catalogue-card
					include partials/catalogue-card
					include partials/catalogue-card
					include partials/catalogue-card
					

		section#site-footer
			include partials/site-footer