.about-item-img {
	margin-top: 2rem;
}

@media (min-width: $b-medium) {
	.about-item-text {
		width: percentage(6/12);
		padding-right: 2rem;
	}
	.about-item-img {
		width: percentage(6/12);
	}
}

@media (min-width: $b-medium) {
	.about-item-text {
		padding-right: 8rem;
	}
}