.sidebar-address {
	margin-top: 1rem;
	font-size: .9rem;
	& p {
		margin: 0;
		margin-top: .5rem;
		color: $white;
		& a {
			color: white;
		}
	}
}

address .social {
	margin: 0;
	padding: 0;
	margin-top: 1rem;
	list-style: none;
	& li {
		display: inline-block;
		margin-top: .5rem;
		margin-right: .5rem;
	}
	& li a{
		display: block;
		width: 2rem;
		height: 2rem;
		background-repeat: no-repeat;
		background-position: center;
	}
	& .fb {
		background-image: url('img/assets/fb.png');
	}
	& .vk {
		background-image: url('img/assets/vk.png');
	}
	& .inst {
		background-image: url('img/assets/inst.png');
	}
}

.contacts {
	& p, & p a {
		color: $black;
		margin-bottom: 0;
		& a:hover {
			color: $primary-color;
		}
	}
	& .social {
		.fb {
				background-image: url('img/assets/fb-b.png');
		}
		.vk {
			background-image: url('img/assets/vk-b.png');
			}
		.inst {
			background-image: url('img/assets/inst-b.png');
		}
	}
}

.yandex-map {
	margin-top: 1rem;
}

@media (min-width: $b-medium) {
	.sidebar-address {
		margin-top: 4rem;
		font-size: .8rem;
	}
}