//кнопка для сворачивания блока с информацией на мобильных

.close-btn {
	text-align: right;
	float: right;
	padding: .2rem .5rem;
	font-size: .8rem;
	text-decoration: underline;
}

#ed_controls {
	display: none;
}

@media (min-width: $b-medium) {
	#ed_controls {
		display: block;
	}
}