.catalogue-card-text {
	padding: 2rem;
	width: 100%;
	& h3 {
		color: ac(text);
		text-decoration: underline;
		margin-bottom: 0;
	}
	&-main {
		display: none;
		padding-top: 2rem;
	}
	&-footer {
		display: none;
	}
}

@media (min-width: $b-medium) {
	.catalogue-card-text {
		width: percentage(4/12);
		&-main {
			display: block;
		}
		&-footer {
			margin-top: 2rem;
			display: block;
		}
	}
}

@media (min-width: $b-large) {
	.catalogue-card-text {
		max-width: 49rem;
	}
}