.catalogue-card {
	width: 100%;
	padding: 2rem;
	& a{
		color: ac(text);
		&:hover, &:active, &:focus {
			color: ac(text);
		}
	}
	&-footer {
		&-btn {
			display: none;
		}
	}
}

@media (min-width: $b-medium) {
	.catalogue-card {
		width: percentage(6/12);
		&-footer {
			&-btn {
				display: none;
			}
		}
	}
}