#site-header .header-mid{
	padding: 2rem;
	& .logo {
		width: percentage(5/12);
	}
	& .nav {
			width: percentage(2/12);
	}
}

@media (min-width: $b-medium) {
	#site-header .header-mid{
		padding: 2rem;
		& .logo {
			width: percentage($number: 3/12);
		}
		& .nav {
			width: percentage($number: 1/12);
		}
	}
}