//верхняя линия с телефоном горячей линии и переключением языка
.header-top {
	position: fixed;
	top: 2rem;
	display: flex;
	flex-flow: row nowrap;
	align-items: center;
	justify-content: space-between;
	@include container($max-width: $b-xxlarge);
	padding: 0 2rem;
}

.header-top .logo {
	width: percentage(4/12);
	& img {
		display: block;
		max-width: 20.5rem;
	}
}

.header-top .phone-language {
	display: none;
}

@media (min-width: $b-large) {
	.nav-open-btn {
		display: none;
	}	
}