.hero {
	width: 100%;
	height: 100%;
}

.hero-item {
	min-height: 100vh;
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	padding: 0 2rem;
	background-size: cover;
	background-position: center;
}

.hero-item-content {
	@include container(0, 0, $b-xlarge);
	width: 100%;
	& h1 {
		margin-top: 6rem;
		font-size: 5.5rem;
		font-weight: bold;
		text-transform: uppercase;
	}
	& h3 {
		margin-top: 2rem;
	}
	& button {
		margin-top: 4rem;
	}
	&-nav {
		margin-top: 10rem;
	}
}

.hero-nav-icon {
	display: inline-block;
	margin-left: 1rem;
	&-left {
		@include retina-sprite($ic_chevron_left-group);
	}
	&-right {
		@include retina-sprite($ic_chevron_right-group);
	}
}

@media (max-height: 60rem) {
	.hero-item-content {
		margin-top: 10rem;
	}
}