#site-wrapper .hero {
	@include container;
	&-text {
		margin-top: 2rem;	
		h2 {
			// display: none;
			margin-bottom: 0;
			font-weight: normal;
		}
	}
}

@media (min-width: $b-medium) {
	#site-wrapper .hero {
		&-text {
			& h2 {
				font-size: 4rem;
			}
		}
	}
}