#site-wrapper .hero {
	@include container(0);
	&-text {
		padding: 0 2rem;
		margin-top: 2rem;	
		h2 {
			// display: none;
			margin-bottom: 0;
			font-weight: normal;
			// text-align: center;
			font-size: 3rem;
			line-height: 1.5;
		}
	}
}

@media (min-width: $b-medium) {
	#site-wrapper .hero {
		&-text {
			& h2 {
				padding: 0 2rem;
				font-size: 4rem;
			}
		}
	}
}

@media (min-width: $b-large) {
	#site-wrapper .hero {
		padding-top: 0;
		border-bottom: solid 1px ac(lightgray);
		&-text {
			margin-top: 4rem;
			& h2 {
				padding: 0 2rem;
			}
		}
	}
}