.main-nav {
	list-style: none;
	margin: 0;
	padding: 0;
	margin-top: 1rem;
	& li a {
		color: $white;
		line-height: 1.7;
		font-size: 1.2rem;
	}
	& li a:hover {
		color: $primary-color;
		font-weight: bold;
	}
	& .is-active {
		color: $primary-color;
		text-decoration: underline;
		font-weight: bold;
	}
	.current-menu-item {
		text-decoration: underline;
	}
}

.nav-foodmenu {
	margin: 0;
	padding: 0;
	list-style: none;
	& li {
		position: relative;
		display: inline-block;
		margin-right: .5rem;
		& a {
			color: $black;
			font-weight: bold;
			text-transform: uppercase;
		}
	}
	& .children {
		position: absolute;
		display: none;
		padding: 0;
		width: 10rem;
		background-color: $primary-color;
		& li {
			display: block;
			margin-right: 0;
		}
		& li a {
			display: block;
			padding: .5rem;
			line-height: 1.2;
			text-transform: none;
			font-weight: normal;
			text-decoration: none;
			color: white;
			width: 100%;
			border-bottom: 1px solid tint($primary-color, 15%);
			&:hover {
				text-decoration: underline;
				background-color: tint($primary-color, 10%);
			}
		}
	}
	& > li:hover .children {
		display: block;
	}
}


@media (min-width: $b-medium) {
	.main-nav {
		margin-top: 2rem;
	}
}