.type-card {
	width: 100%;
	padding: 2rem;
	& a {
		text-decoration: none;
	}
	&-img {
		overflow: hidden;
	}
	&-description {
		margin-top: 2rem;
		color: ac(text);
	}
}

.type-card .img-inner {
	@include bg-image(85%);
	transition: all .33s ease-in;
	&:hover {
		transform: scale(1.05);
	}
}

@media (min-width: $b-medium) {
	.type-card {
		width: percentage(1/3);
	}	
}