//clearfix
@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}

//container mixin with max width
@mixin container ($pad-vert-small:4rem, $pad-vert:8rem) {
	position: relative;
	width: 100%;
	max-width: $b-xlarge;
	margin: 0 auto;
	padding: $pad-vert-small 0;
	@media (min-width: $b-large) {
		padding: $pad-vert 2rem;
	}
	// @include clearfix;
}