// mixin for links
// $link - base color
// $visit - for visited links
// $hover - on links hover
// $active - for active links
@mixin linx ($link, $visit, $hover, $active) {
  a {
    color: $link;
    &:visited {
      color: $visit;
    }
    &:hover {
      color: $hover;   
    }
    &:active {
      color: $active;
    }
  }
}
