@import "mixin";

//Global
$global-font-family: 'Roboto', sans-serif;
$second-font-family: 'Roboto Slab', serif;
$global-font-size: 16px;
$global-line-height: 1.7;
$font-smooth: antialiased;

//Colors
$colors: (
        primary: hsl(0,0,0),
        secondary: hsl(212,73,60),
        third: hsl(309,100,80),
        accept: hsl(90,77,60),
        alert: hsl(0,77,60),
        warning: hsl(40,77,50),
        white: hsl(0,0,100),
        black: hsl(0,0,0)
);

$body-background: cv(white);
$body-font-color: cv(primary);

$base-spacing: 1em;

// Media q breakpoints

$b-small: 0;
$b-medium: 48em;
$b-large: 64em;
$b-xlarge: 90em;
$b-xxlarge: 100em;

$b-small-only: 0 47.9375em;
$b-medium-only: 48em 74, 9375em;
$b-large-only: 75em 99, 9375em;

//container width
$container-width: $b-large;

//Typography

$paragraph-lineheight: 1.7;
$paragraph-margin-bottom: 1.5em;

$header-font-family: $second-font-family;
$header-font-weight: 400;
$header-color: $body-font-color;
$header-lineheight: 1.4;


// $header-sizes: (
//         small: (
//                 'h1': 24,
//                 'h2': 20,
//                 'h3': 19,
//                 'h4': 18,
//                 'h5': 17,
//                 'h6': 16,
//         ),
//         medium: (
//                 'h1': 36,
//                 'h2': 28,
//                 'h3': 19,
//                 'h4': 17,
//                 'h5': 16,
//                 'h6': 16,
//         ),
// )
